{% extends 'base.html.twig' %}

{% block body %}
    <h1>O pandzie</h1>

    <h2>O pandzie</h2>
    <ul>
        O pandzie
    </ul>
    <ul>
        O pandzie
    </ul>
    <ul>
        O pandzie
    </ul>
{% endblock %}

{% block title %}
    Hello Panda
{% endblock %}

