{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{%  block body %}
    <h2>Home page</h2>
    <p>Home home home</p>
    <img src="{{ asset('img/panda.png') }}" width="100%" alt="panda">
{% endblock %}