{% extends 'base.html.twig' %}

{% block body %}
    <h1>List of Games</h1>

    <ul>
        {% for game in games %}
            <li>
                {{ game.getName() }}
                <a href="{{ path('game.show', {'id': game.getId()}) }}">View game</a>
                <a href="{{ path('game.edit', {'id': game.getId()}) }}">Edit game</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
